# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/SP4/Exercicio4/build/
/SP4/Exercicio5/nbproject/private/
/SP4/UsandoClasCharacter/nbproject/private/
/SP4/Exercicio5/build/
/SP4/Exercicio6/nbproject/private/
/SP4/Exercicio6/build/
/SP4/Exercicio7/nbproject/private/
/SP4/Exercicio7/build/
/SP4/Exercicio8/nbproject/private/
/SP4/Exercicio8/build/
/SP5/exercicio1/nbproject/private/
/Estudos de interface grafica/PrimeiroPrograma/nbproject/private/
/Estudos de interface grafica/PrimeiroPrograma/build/
/SP5/exercicio1/build/
/SP5/exercicio2/nbproject/private/
/SP5/exercicio2/build/
/SP5/exercicio3/nbproject/private/
/SP5/exercicio3/build/
/SP5/exercicio4/nbproject/private/
/SP5/exercicio4/build/
/Estudos de interface grafica/Calculadora/nbproject/private/
/Estudos de interface grafica/Calculadora/build/
/SP5/exercicio5/nbproject/private/
/SP5/exercicio5/build/
/SP5/exercicio6/nbproject/private/
/SP5/exercicio6/build/
/SP5/exercicio7/nbproject/private/
/SP5/exercicio7/build/